
@{
    ViewBag.Title = "Test";
}

<h1>Meusite.com.br</h1>
@Html.ActionLink("Página inicial", "Index", "Home")
@Html.ActionLink("Sobre","About","Home")

<h2>Test</h2>

<footer>
    <p>Oi</p>
</footer>

